<%- include('../components/header') %>    
    <div class="container-authentication">
        <div class="header-authentication">
            <img src="/images/logo/Lambang-IPNU.png" alt="Lambang-IPNU">
            <h3>LOGIN</h3>
        </div>
        <div class="body-authentication">
          <form action="" method="post">
            <ul>
              <li>
                <label for="name">Nama :</label>
                <input type="text" id="name" name="password" placeholder="Nama Organisasi" autofocus>
              </li>
              <li>
                <label for="email">Email :</label>
                <input type="email" id="email" name="password" placeholder="Email organisasi" autofocus>
              </li>
              <li>
                <label for="password">Password :</label>
                <input type="password" id="password" name="password" placeholder="Masukan Password">
              </li>
              <li>
                <label for="konfirm">Konfirmasi :</label>
                <input type="konfirm" id="konfirm" name="konfirm" placeholder="Tulis ulang password">
              </li>
              <li>
                <button type="submit">Sign Up</button>
              </li>
            </ul>
          </form>
        </div>
        <div class="footer-body">
          <p><a href="/">login</a> with your account</p>
        </div>
    </div>
    <%- include('../components/footer') %>